.row{"ng-controller" => "AssessmentsTeacherController"}
  .row
    .col-md-1 
    .col-md-10 
      .col-md-7 
        .row
          .col-md-7
            = label_tag(:grade, "SELECT GRADE-SECTION-SUBJECT")      
            %select{"ng-model" => "myTeacher", "ng-options" => "mapping.id as mapping.teacher_grade_subject for mapping  in teacher_grade_subject_mappings | orderBy:'id'",:class => "form-control"}       
              %option{style: "display:none", value: ""} select grade - section - subject  
          .col-md-3
            %a{href: "#teacher_show", :class => "btn btn-primary", :title => "SHOW ASSESSMENT TYPES", "ng-click" => ""} SHOW ASSESSMENT TYPES
        %br
        .row 
          %div{"ng-view" => ""}
      .col-md-5
        #assessments_calendar 
 
  .row
    .col-md-4      
      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
        .modal-content
          .modal-header           
            %h4#myModalLabel.modal-title Teaching Plan          
            .modal-body 
              .row
                .col-md-1 
                .col-md-10 
                  .col-md-4
                    = label_tag(:grade, "SELECT GRADE")      
                    %select{"ng-model" => "myGrade", "ng-options" => "grade.grade_master_id as grade.grade_name for grade in grades", "ng-change" => "getSections()", :class => "form-control"}       
                      %option{style: "display:none", value: ""} select grade 
                  .col-md-4
                    = label_tag(:grade, "SELECT SECTION")      
                    %select{"ng-model" => "mySection", "ng-options" => "section.section_master_id as section.section_name for section in sections | filter : {grade_master_id: myGrade}", :class => "form-control"}       
                      %option{style: "display:none", value: ""} select section 
                  .col-md-4
                    = label_tag(:grade, "SELECT ASSESSMENT TYPE")      
                    %select{"ng-model" => "myAssessmentType", "ng-options" => "assessment_type.id as assessment_type.assessment_type for assessment_type  in assessment_types",:class => "form-control"}       
                      %option{style: "display:none", value: ""} select assessment type 
          .modal-footer
            .col-md-5.col-md-offset-3             
              %a{href: "#teacher_save_form", :class => "btn btn btn-primary btn-sm", :title => "SAVE", "ng-click" => "saveAssessmentTypeMappings(assessment_type)"}

  .row
    :css
      table_, th, td
      {     
      border-collapse:collapse;
      border:5px solid #6aa6d6;
      }
      th, td
      {
      padding:5px;
      } 



 
                 


