.row
  .row
  .col-md-1
  .col-md-9
    %table{:class => "table"}
      %tr
        %th ASSESSMENT DESCRIPTION 
        %th{"ng-repeat" => "grade  in all_grades"}    
          {{grade.grade_name}}
        %th SAVE
      %tr{"ng-repeat" => "assessment_type  in edit_assessment_types"}
        %th 
          {{assessment_type.assessment_type}}     
        %td{"ng-repeat" => "mapping in edit_assessment_grade_mappings"} 
          %input{type: "text", "ng-model" => "mapping.no_of_times",:class => "form-control" }     
     
        %td
          %a{href: "#mapping_form", :class => "btn btn btn-primary btn-sm", :title => "SAVE", "ng-click" => "saveAssessmentGradeMappings()"}       
            %span{class: "glyphicon glyphicon-save"}
     
 
