.row{"ng-controller" => "GradeController"}
  - error_code =0
  .row
    .col-md-2 
    .col-md-8
      .col-md-4 
        .col-md-12
          = label_tag(:grade, "Select Grade") 
        .form-group.col-md-12
          %select{"ng-model" => "myGrade", "ng-options" => "grade.id as grade.grade for grade in grades",:class => "form-control",:required => "required"}
            %option{style: "display:none", value: ""} Select Grade   
      .col-md-4
        .col-md-12
          = label_tag(:section, "Select Section")
        .form-group.col-md-12
          %select{"ng-model" => "mySection", "ng-options" =>"section.id as section.section for section  in sections",:class => "form-control"}
            %option{style: "display:none", value: ""} Select Section
      .col-md-4
        = submit_tag("SHOW TIME TABLE",{class: "btn btn-primary", :ng_click => "showPeriods()"})        
    .col-md-2
  %br
  .row
    .col-md-1
    .col-md-8
      %div{"ng-show" => "myValue"}
        %table{:class => "table"}
          %tr
            %th PERIOD
            %th MON
            %th TUE
            %th WED
            %th THU
            %th FRI
            %th SAT 
            %th 
          %tr{"ng-repeat" => "timeperiod in timeperiods | orderBy:'id'"}
            %td Period{{" "+($index+1)}}
            %td               
              %select{ "ng-hide" => "mySelectedValue","ng-model" => "timeperiod['mon_sub']", "ng-options" => "subject.id as  subject.subject for subject in subjects",:class => "form-control",:placeholder => "first name"} 
                %option{value: ""}
            %td
              %select{"ng-model" => "timeperiod['tue_sub']", "ng-options" => "subject.id as  subject.subject for subject in subjects",:class => "form-control"} 
                %option{value: ""}
            %td
              %select{"ng-model" => "timeperiod['wed_sub']", "ng-options" => "subject.id as subject.subject for subject in subjects",:class => "form-control"}  
                %option{value: ""}
            %td
              %select{"ng-model" => "timeperiod['thu_sub']", "ng-options" => "subject.id as subject.subject for subject in subjects",:class => "form-control"}  
                %option{value: ""}
            %td 
              %select{"ng-model" => "timeperiod['fri_sub']", "ng-options" => "subject.id as subject.subject for subject in subjects",:class => "form-control"}
                %option{value: ""}
            %td 
              %select{"ng-model" => "timeperiod['sat_sub']", "ng-options" => "subject.id as subject.subject for subject in subjects",:class => "form-control"}  
                %option{value: ""}
            %td
              %input{:type => "button", "ng-click" => "clearRowPeriods($index)", :class => "btn btn-danger btn-sm", :value => "CLEAR" } 
          %tr
            %td
            %td{"ng-repeat" => "i in [1, 2, 3, 4, 5, 6]"}
              %input{:type => "button", "ng-click" => "clearColumnPeriods($index)", :class => "btn btn-danger btn-sm", :value => "CLEAR   " }
            %td
              %input{:type => "button", "ng-click" => "clearAllPeriods()", :class => "btn btn-danger btn-sm", :value => "CLEAR ALL" } 
            
    .col-md-2{"ng-show" => "myValue"} 
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "savePeriods()", :value => "SAVE",:redirct_to =>"time_tables_path"} 
  .row
    = render "show_periods" 
