.row
  .col-md-1
  .col-md-8{"ng-show" => "myShowValue"} 
    %table.table-striped.table-condensed.table-bordered
      %tr
        %th PERIOD
        %th MON
        %th TUE
        %th WED
        %th THU
        %th FRI
        %th SAT
      %tr{"ng-repeat" => "timeperiod in timeperiods| orderBy:'id'"}
        %td Period{{" "+($index+1)}}
        %td {{timeperiod['mon_sub_name']}}
        %td {{timeperiod['tue_sub_name']}}          
        %td {{timeperiod['wed_sub_name']}}          
        %td {{timeperiod['thu_sub_name']}}           
        %td {{timeperiod['fri_sub_name']}}          
        %td {{timeperiod['sat_sub_name']}}
  .col-md-2{"ng-show" => "myShowValue"}
    - if current_user.admin?
      = submit_tag("EDIT",{class: "btn btn-primary", :ng_click => "editPeriods()"})

  
      
      
