Hello world Tim
.row
  .col-xs-6.col-md-4
  .col-xs-6.col-md-4
  .col-xs-6.col-md-4
    -#= link_to "Add Time Table", time_tables_path, :class => "btn btn-primary" 
    %br
    %br
= render 'period_form'
