.row{"ng-controller" => "GradeController","ng-init" => "getSections()"}
  %div{"ng-repeat" =>"section  in sections"} 
    .row
      .col-md-12
        %h4{style: "font-weight: bold"} NAME: {{section.student_name}} GRADE: {{section.grade_name}} SECTION: {{section.section_name}}
      .row       
        %div{"ng-controller" => "GradeController","ng-init" => "getPeriods(section.grade_master_id,section.section_master_id)"}
          = render 'show_periods'
