.row{"ng-controller" => "TimeTablesController"}
  %div{"ng-repeat" =>"grade  in grades"} 
    .row
      .col-md-12
        %h4{style: "font-weight: bold"} NAME: {{grade.faculty_name}} GRADE: {{grade.grade_name}} SECTION: {{grade.section_name}}
      .col-md-12    
        %div{"ng-init" => "getPeriods(grade.grade_master_id,grade.section_master_id)"}
          = render 'show_periods'
