.content
  %input#toggle-1.sw{:checked => "", :name => "toggle", :type => "checkbox" }
    %label{:for => "toggle-1"}
  %input#toggle-2.sw{:name => "toggle", :type => "checkbox"}
    %label{:for => "toggle-2"}
      %span With a little label
