.row{"ng-controller" => "LabTeacherMappingController" , "ng-init" => "saveLabMappings()" }
  %form{:id => "myForma", :class=>"form-horizontal", :ng_submit => "saveMappings()"}
    .col-md-6
      = label_tag(:grade, "Select Teacher") 
      %select{:multiple => "multiple","ng-model" => "mapping.faculty_master_id", "ng-options" => "faculty.faculty_master_id as faculty.faculty_name for faculty  in faculty_names ", :class => "form-control"}       
    .col-md-3
      %button{:type=>"submit", :class=> "btn btn-primary"}=  "Save"
