%ul.nav.nav-tabs{:role => "tablist"}
  %li
    %a{:href => "/inventories"} Inventory
  %li
    %a{:href => "/inventories/new"} Deliveries

   
.col-md-9{"ng-controller" => "InventoriesController"}
  .row
    %br
    %h4 Delivered Inventory
  .row
    %table.table.table-bordered
      %thead
        %tr        
          %th Type
          %th Name
          %th Quantity
          %th Status
          %th  
            %button.btn.btn-primary{"ng-click" => "updateStatus('Delivered')"}= "Delivered"
      %tbody
        %tr{"ng-repeat" => "inventory in inventories| filter:status = 'Ordered'"}
          %td {{inventory.inventory_type}}
          %td {{inventory.name}}
          %td {{inventory.quantity}}
          %td {{inventory.status}}
          %td
            %input{"ng-model" => "status", type: "checkbox", "ng-change" => "sendForApproval(status,inventory)", "ng-checked" => "status"}
            
