= form_tag location_masters_path, :method => 'get' , :class => "form-inline" do
  .row
    .col-sm-6
      = autocomplete_field_tag :location_name,
      '',
      auto_search_autocomplete_location_master_location_name_path,
      :placeholder => "Location Name", :class => 'form-control',
        :required => true,
        :id_element => "#id"
      = hidden_field_tag :id, :id => "id"
    .col-sm-6
      = submit_tag "Search", :name => nil, :class => "btn-primary btn"
  
