.row
  .col-sm-3
    
  .col-sm-4
  - if current_user.transport_head?
    %br
    = render 'form'
    %br
    %br
.row
  .col-sm-5
    %table.table.table-bordered
      %thead
        %tr
          %th Locations
          - if current_user.transport_head?
            %th
      %tbody
        - @location_master.each do |location_master|
          %tr
            %td= location_master.location_name
            - if current_user.transport_head?
              %td
                =  link_to raw("<span class='glyphicon glyphicon-trash'></span>"),location_master_path(location_master), :class => "btn btn-danger btn-xs", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
