%html
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
  %h4
    
    .col-sm-3
      Name of inventory:
      = @name
      %br
      Type of inventory:
      = @type
      %br
      Quantity :
      = @quantity


