Dear vendor,
.row  
  %p
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
.row  
  %table{:border => "1"}
    %thead
      %th Name
      %th Type
      %th Quantity
    %tbody
      - @inventories.each do |inv|
        %tr
          %td= inv['name']
          %td= inv['inventory_type']
          %td= inv['quantity']
%br
%br
Thanks,
%br
Admin



