%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th Title:
      %th Education Details:
      %th Experience
  %tbody
    - Recruitment.all.each do |recruitment|
      %tr
        %td= recruitment.title
        %td= recruitment.education_details
        %td= recruitment.experience
       
%center
  = link_to "back", new_recruitment_path, class: "btn btn-primary"

