.row
  .row
    .col-md-1
    .col-md-4
      %h4{style: "font-weight: bold"} SELECT GRADES FOR SECTIONS
    .col-md-4
      = link_to 'CANCEL', grades_sections_mappings_path,:class => 'btn btn-primary' 
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveGradesMappings()", :value => "DONE"}
    .col-md-3
     
  .row{"ng-repeat" => "section in sections_grades_all | orderBy:'section_name'"}
    .col-md-1
    .col-md-9
      .row
        .col-md-2
          %h4{style: "font-weight: bold"} {{section.section_name}}
          %input{"ng-model" => "checked_all", type: "checkbox", "ng-change" => "addAllGrades({{!checked_all}},{{section.section_master_id}},{{section.grades}},section)", "ng-checked" => "checked_all"}      
          ALL
      .col-md-2{"ng-repeat" => "grade in section.grades"}
        %input{"ng-model" => "grade.checked_value", type: "checkbox", "ng-change" => "addGrades({{!grade.checked_value}},{{section.section_master_id}},{{grade}})", "ng-checked" => "grade.checked_value"}      
        {{grade.text}}        
      .col-md-2
  
    
