.row
  .row
    .col-md-1
    .col-md-4
      %h4{style: "font-weight: bold"} GRADES FOR SECTIONS
    .col-md-4
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "editGradesMappings()", :value => "EDIT"}
    .col-md-3 
  .row
    .col-md-1
    .col-md-9
      %table.target.table.table-striped.table-condensed.table-bordered
        %tr
          %th SECTION
          %th GRADES               
        %tr{"ng-repeat" => "section in sections | orderBy:'section_name'"}
          %td {{section.section_name}} 
          %td
            .col-md-1{"ng-repeat" => "grade in show_grades |filter :  {section_master_id: section.section_master_id}  | orderBy:'grade_name'"}        
              {{grade.grade_name}}        
    .col-md-2
