.row
  .row
    .col-md-1
    .col-md-4
      %h4{style: "font-weight: bold"} SECTIONS FOR GRADES
    .col-md-4
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "editSectionsMappings()", :value => "EDIT"}
    .col-md-3 
  .row
    .col-md-1
    .col-md-9
      %table{:class => "table"}
        %tr
          %th GRADE
          %th SECTIONS               
        %tr{"ng-repeat" => "grade in grades"}
          %td {{grade.grade_name}} 
          %td
            .col-md-1{"ng-repeat" => "section in show_sections |filter : {grade_master_id: grade.grade_master_id}"}        
              {{section.section_name}}         
    .col-md-2
  .row
    :css
      table, th, td
      {
      border-collapse:collapse;
      border:5px solid #6aa6d6;
      }
      th, td
      {
      padding:5px;
      } 
   
