.row
  .col-sm-4
    %h3  Vendor Category
  .col-sm-2
    = render "form"
    %br
.row
  .col-sm-5
    %table.table.table-bordered
      %thead
        %tr
          %th Category
          %th 
      %tbody
        - @vendor_category.each do |vendor|        
          %tr
            %td=  vendor.vendor_category
            %td 
              = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), vendor_category_path(vendor), :class => "form btn-sm btn-danger ",:data => {:method => 'delete' ,:confirm => "Are You Sure to Delete " }
