.colmd-10
  %form{:method => 'get' , :class => "form-inline", :name => "parentChequesSearchForm", :ng_submit => "submitSearch()"}
    .form-group
      %input{:type => "text", :class=>"form-control", :placeholder => "Cheque No / Father/ Mother/ Student Name", :name => "search_term"}
    .form-group
      %select{:ng_model => "status", :ng_options => "st.value as st.text for st in status_type", :class=>"form-control", :placeholder => "Status"}
        %option{:value => ""} 
      %input{:type => "hidden", :name => "status", :value => "{{status}}"}
    .form-group{:ng_show => "status == 'cleared'"}
      %input{:type => "text", :class=>"form-control datepicker", :placeholder => "From Date", :name => "from_date"}
    .form-group
      %input{:type => "text", :class=>"form-control datepicker", :placeholder => "To Date", :name => "to_date"}
    .form-group
      = submit_tag "Go", :name => nil, :class => "btn-primary btn"
