-# .col-md-12
-#   %table.table.table-bordered.table-striped.table-hover
-#     %thead
-#       %th Name
-#       %th Grade
-#       %th Section
-#       %th Academic Year
-#     %tbody
-#       - @student_hrs.each do |student|
-#         %tr
-#           %td
-#             = link_to student.name, student
-#           %td= student.grade
-#           %td= student.section
-#           %td= student.academic_year

%student_header_details{ :student_id => "5"}
.col-md-12
  .col-md-4
    %grade_fee_details{ :student_id => "5"}
  .col-md-6
    %payment_type_tabs{ :student_id => "5"}
  
