.col-md-3-no-padding
  .col-md-4
    %label Name:
  .col-md-8
    %label= link_to faculty.faculty_name, faculty
.col-md-3-no-padding
  .col-md-4
    %label Code:
  .col-md-8
    %label= faculty.code
.col-md-3-no-padding
  .col-md-4
    %label Designation:
  .col-md-8
    %label= faculty.designation_master.name 
.col-md-3-no-padding
  .col-md-4
    %label Department:
  .col-md-8
    %label= faculty.department_master.name

