.row
  .col-md-1
  .col-md-8{"ng-show" => "myShowFormValue"} 
    %table{:class => "table"}
      %tr       
        %th GRADE
        %th SECTION
        %th SUBJECT
        %th
      %tr{"ng-repeat" => "mapping in mappings| orderBy:'id'"}        
        %td {{mapping['grade_name']}}
        %td {{mapping['section_name']}}          
        %td {{mapping['subject_name']}} 
        %td          
          = link_to raw("<span class='glyphicon glyphicon-pencil'></span>"),"#", :class => "btn btn-warning btn-sm", :title => "EDIT", :ng_click => "editMappings()"
  .col-md-2{"ng-show" => "myShowFormValue"}   
    %input{:type => "button", :class => "btn btn-primary", "ng-click" => "addOneMappings()", :value => "ADD"}

.row
  :css
    table, th, td
    {
    border-collapse:collapse;
    border:5px solid #6aa6d6;
    }
    th, td
    {
    padding:5px;
    } 
