.col-md-12{:ng_controller => "FeeReportsController"}
  = render "param_region"
 
  .col-md-6
    #flot-placeholder{:style => "width:400px;height:320px;"}
  .col-md-6
    #flot-placeholder1{:style => "width:400px;height:320px;"}
  = render "drill_pop_up"
