.col-md-12{:ng_controller => "FeeReportsController"}
  = render "param_region"
 
  %h4{:ng_show => "chartShown"} {{report_type.name}}
  %hr

  .col-md-6
    #flot-placeholder{:style => "width:400px;height:420px;"}
  .col-md-6
    #flot-placeholder1{:style => "width:400px;height:420px;"}
  = render "drill_pop_up"
