.row
  .col-sm-3
    %h3  Special Day Transport
  .col-sm-6
  - if current_user.transport_head?
    = link_to "Add New",  new_special_day_transport_path, :class => "btn btn-primary"
    %br
.row
  .col-sm-6
    %table.table.table-bordered
      %thead
        %tr
          %th Occasion 
          %th Date
                     
      %tbody
        - @special_day_transports.each do |occation|
          %tr
            %td= link_to "#{occation.occation}",occations_special_day_transports_path(:occation => occation.occation)
            %td= occation.date
