.row
  .col-sm-12
    .col-md-12
      %table#tblData.target.table.table-striped.table-condensed.table-bordered{:style => "width:100%;"}
        %thead
          %tr        
            %th{:style => "width:30%;"}
              Form no
            %th{:style => "width:30%;"}
              Name
            %th{:style => "width:30%;"}
              Designation
          %tbody
            %tr{"ng-repeat" => "f in staff_filter_values"}
              %td 
                %a{href: '/staffrecruits/{{f.id}}/homeindex',:target => "_blank"}{{f.form_no}}
              %td {{f.faculty_name}}
              %td {{f.designation}}
