.row
  .col-sm-3
    %h3  Mapping Routes
  .col-sm-4
.row{"ng-controller" => "Mapping1Controller"}
  .col-sm-6
    %table#tblData.target.table.table-striped.table-condensed.table-bordered
      %thead
        %tr
          %th student id
          %th student name
          - if current_user.transport_head?
            %th
              %br
      
      %tbody
        - StudentMaster.has_bus_facility.has_no_route.all.each do |student| 
          %tr
            %td= student.id
            %td= student.name 
            - if current_user.transport_head?
              %td 
                = render  :partial => 'modal' , :locals => {:student_id => student.id}               
               
                      
                        
