.row
  .row
    .col-md-1
    .col-md-10
      %table#tblData.target.table.table-striped.table-condensed.table-bordered
        %thead
          %tr        
            %th Book Name
            %th Author Name
            - if current_user.librarian?
              %th Status
        %tbody
          %tr
            - @pending_request_books.each do |request_book|
              %td= request_book.book_name
              %td= request_book.author_name
              - if current_user.librarian?
                %td= request_book.status
