.row{"ng-controller" => "RequestBooksController","ng-init" => "pendingRequests()"}
  .row
    %center
      %h3
        Pending Request Books
  .row
    %center
      %h4
        Delivered Books
  .row
    .col-md-1
    .col-md-10
      %table#tblData.target.table.table-striped.table-condensed.table-bordered
        %thead
          %tr        
            %th Book Name
            %th Author Name           
            %th Status 
            %th
              %button.btn.btn-primary{"ng-click" => "newBook()"}= "Add Book"      
        %tbody   
          %tr{"ng-repeat" => "pending_request in pending_requests | filter: {status : 'Delivered'}"}            
            %td {{pending_request.book_name}}
            %td {{pending_request.author_name}}            
            %td {{pending_request.status}} 
            %td      
              %input{"ng-model" => "book_status", type: "checkbox", "ng-change" => "sendBooksForApproval(book_status,pending_request)", "ng-checked" => "book_status"}   
  %br
  .row
    %center
      %h4
        Ordered Books      
  .row
    .col-md-1
    .col-md-10
      %table#tblData.target.table.table-striped.table-condensed.table-bordered
        %thead
          %tr        
            %th Book Name
            %th Author Name           
            %th Status
            %th
              %button.btn.btn-primary{"ng-click" => "acceptBooksDeliver('Delivered')"}= "Accespt Delivery"             
        %tbody   
          %tr{"ng-repeat" => "pending_request in pending_requests | filter: {status : 'Ordered'}"}            
            %td {{pending_request.book_name}}
            %td {{pending_request.author_name}}  
            %td {{pending_request.status}}
            %td      
              %input{"ng-model" => "book_status", type: "checkbox", "ng-change" => "sendBooksForApproval(book_status,pending_request)", "ng-checked" => "book_status"}
  %br
  .row
    %center
      %h4
        Pending Books

  .row
    .col-md-1
    .col-md-10
      %table#tblData.target.table.table-striped.table-condensed.table-bordered
        %thead
          %tr        
            %th Book Name
            %th Author Name           
            %th Status         
        %tbody                
          %tr{"ng-repeat" => "pending_request in pending_requests | filter: {status : 'Approved'}"}            
            %td {{pending_request.book_name}}
            %td {{pending_request.author_name}}             
            %td {{pending_request.status}}
          %tr{"ng-repeat" => "pending_request in pending_requests | filter: {status : 'Rejected'}"}            
            %td {{pending_request.book_name}}
            %td {{pending_request.author_name}}             
            %td {{pending_request.status}}
          %tr{"ng-repeat" => "pending_request in pending_requests | filter: {status : 'Pending'}"}            
            %td {{pending_request.book_name}}
            %td {{pending_request.author_name}}             
            %td {{pending_request.status}}
  .row
    .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
      .modal-dialog
        .modal-content
          .modal-header
            %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
            %h4.modal-title{ :id => "myModalLabel"} New Book
          .modal-body
            = render "books/new_form"
