.row
  .col-xs-2
    = wicked_pdf_image_tag "logo.png"
  .col-xs-7
    .col-xs-offset-2.col-xs-10
      %h5
        %strong 
          %center
            Fountainhead Global School
            %br
            Miyapur, Hyderabad
            
