= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"
= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"
= javascript_include_tag "gmap"
-#= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js"
-#= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js"


  -# handler = Gmaps.build('Google')
  -# handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
  -# markers = handler.addMarkers(jQuery.parseJSON(gon.gmap_data))
  -# handler.bounds.extendWith(markers)
    -# handler.fitMapToBounds()
  -#})

%div.container{ :id => 'map-container', :style => "text-align: center" }
  #map.img-responsive.img-thumbnail


