-#= javascript_include_tag "//maps.google.com/maps/api/js?v=3.8&sensor=false&key=&libraries=geometry&language=&hl=&region="
= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"
= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"

-#= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js"
-#= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js"
- content_for :scripts do
  %script{ :type => "text/javascript"}
    $(document).ready(function(){
    $("#map").height(gon.height)
    $("#map").width(gon.width)
    $("#map-container").width(gon.width)
    handler = Gmaps.build('Google')
    handler.buildMap({ provider: {}, internal: {id: 'map'} }, function(){
    markers = handler.addMarkers(jQuery.parseJSON(gon.gmap_data))
    handler.bounds.extendWith(markers)
    handler.fitMapToBounds()
    addHoverHandlers(markers)
    })
    })
    
  %div.container{ :id => 'map-container', :style => "text-align: center" }
    #map.img-responsive.img-thumbnail
      
      
