%link{href: "http://fontawesome.io/assets/font-awesome/css/font-awesome.css", media: "screen", rel: "stylesheet"}/
.container
  .process
    .process-row
      .process-step
        %button.btn.btn-warning.btn-circle{disabled: "disabled", type: "button"}
          %i.fa.fa-user.fa-2x
        %p Personal data
      .process-step
        %button.btn.btn-warning.btn-circle{disabled: "disabled", type: "button"}
          %i.fa.fa-comments-o.fa-2x
        %p We confirm you
      .process-step
        %button.btn.btn-warning.btn-circle{disabled: "disabled", type: "button"}
          %i.fa.fa-thumbs-up.fa-2x
        %p Tiger comes
      .process-step
        %button.btn.btn-warning.btn-circle{disabled: "disabled", type: "button"}
          %i.fa.fa-eur.fa-2x
        %p You Pay
