.row
  %center
    %h3
      STATUS REPORT
%br
%br
.col-md-12{:ng_controller => "StaffReportsController", :ng_init => "buildChart()"}
  %center
    #sta-flot-placeholder{:style => "width:400px;height:320px;"}
  = render "sta_popup"
