.row
  %h3
    STATUS REPORT
%br
%br
.col-md-12{:ng_controller => "StaffReportsController", :ng_init => "buildChart()"}
  %center
    #sta-flot-placeholder{:style => "width:500px;height:420px;"}
  = render "sta_popup"
