.col-md-7{"ng-controller" => "RequestsController"}
  %h3
    = "Books"
    .pull-right
      = link_to "New Books", "#", :class => "btn btn-primary", :ng_click => "newRequest()"
                         
    .pull-left
      .col-sm-10
        %input#search{name: "search", placeholder: "Enter Search Term...", type: "text",:class => 'form-control'}
        %br
  %table#tblData.target.table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th Book Name
        %th Author Name
        
        %th
    %tbody
      %tr{"ng-repeat" => "request in Requests"}
        %td {{request.book_name}}
        %td {{request.author_name}}
       
        %td
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), "#", :class => "btn btn-danger btn-sm", :title => "Delete", :ng_click => "destroy(request_new_book)"
        
  .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} New Book
        .modal-body
          = render "requestbook"
          
