.row{"ng-controller" => "StaffAssessmentController"}
  .col-sm-12
    = render 'show'
  .modal.fade{:id => "edit", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{:class => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} &times;
          %h4.modal-title{:id => "myModalLabel"} Management Review
        .modal-body
          = render 'edit'
