%form{:id => "myForma", :class=>"form-horizontal", :ng_submit => "submitSections()"}  
  .form-group{"ng-repeat" => "section_master in section_masters"}   
    = label_tag  "Section Name : ", nil, :class => "form-label col-md-4"
    .col-md-4     
      = text_field_tag  "bulk_section[][section_name]",nil, :class => "form-control", :ng_model => "section_master.section_name", :placeholder => "Section Name" 
    .col-md-4{"ng-repeat" => "error in error_messages | filter: {subject_name:section_master.section_name}"}
      .col-md-12{"ng-show"=>"showErrorMessage"}
        {{error.error[0]['error']}}
  .row
    .col-md-5.col-md-offset-3      
      %button{:ng_disabled => "moreSections", :type => "button", :class=> "btn btn-primary", :ng_click => "addMoreSections()"}=  "More Sections"
      %button{:type=>"submit", :class=> "btn btn-primary"}=  "Save"
  
