.row{"ng-controller" => "Mapping1Controller" , "ng-init" => "getRouteOptimization()"}
  %script{:src => "https://raw.github.com/xuanluo/flot-axislabels/master/jquery.flot.axislabels.js", :type => "text/javascript"}
  #flot-placeholder{:style => "width:600px;height:400px;"}
