.row
  .row{ "ng-show" => "myShowIndexValue"}
    .col-md-1 
    .col-md-8
      .col-md-4         
        .form-group.col-md-12
          %select{"ng-model" => "labName","ng-options" => "grade.id as grade.grade_name  for grade in all_grades",:class => "form-control",  "ng-change" => "getAssessmentsCriteriaMappings(labName)"}
          %option{style: "display:none", value: ""} Select Grade  
      .col-md-4
        %input{:type => "button", :class => "btn btn-primary", "ng-click" => "allGrades()", :value => "ADD ASSESSMENT CRITERIA"}
  .row{"ng-show" => "myShowFormValue"}
    .col-md-1
    .col-md-9
      %table{:class => "table"}
        %tr
          %th SUBJECT         
          %th ASSESSMENTS 
          %th DELETE
        %tr{"ng-repeat" => "assessment  in assessments"}
          %td {{assessment.lab_name}}         
          %td {{assessment.lab_criteria}}  
          %td          
            = link_to raw("<span class='glyphicon glyphicon-trash'></span>"),"#", :class => "btn btn-danger btn-sm", :title => "Delete", :ng_click => "deleteAssessmentCriteriaMappings(assessment.id)"
