%table.table.table.striped
  %thead
    %tr
      %th types of bucket

  %tbody
    %tr
    - FeeGradeBucket.all.each do |feegradebucket |
      %td= feegradebucket.bucket_name

     
%center
  = link_to 'add new',fee_grade_buckets_addnew_path ,:class => 'btn btn-primary'
  = link_to 'back', fee_grade_buckets_new_path, :class => 'btn btn-primary'
   
   
