.row{"ng-controller" => "BooksController"}   
  .row
    .col-md-1
    .col-md-10
      .panel.panel-default
        .test
          .col-sm-3
            .pull-left
              .input-group
                %span.input-group-addon
                  = fa_icon "search lg"
                %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
                %br
          .col-sm-4
            %center
              %h3
                Books
          .col-sm-4 
            .pull-right
              = link_to "New Books", "#", :class => "btn btn-primary", :ng_click => "newBook()"
    .col-md-1
  .row
    .col-md-1
    .col-md-10
      %table#tblData.target.table.table-striped.table-condensed.table-bordered
        %thead
          %tr
            %th Name
            %th ISBN Number
            %th Author
            %th Year Of Publishing
            %th Purchased Date
            %th Type
            %th
        %tbody
          %tr{"ng-repeat" => "book in books"}
            %td 
              %a{href: "#", "ng-click" =>"editBooks()"}
                {{book.name}} 
            %td {{book.isbn}}
            %td {{book.author}}
            %td {{book.year_of_publishing}}
            %td {{book.created_at}}
            %td {{book.book_type}}
            %td
              = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), "#", :class => "btn btn-danger btn-sm", :title => "Delete", :ng_click => "destroy(book)"
        
  .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} New Book
        .modal-body
          = render "form"
  .modal.fade{ :id => "editBookModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} Edit Book
        .modal-body
          edit
            
            
            
