.col-md-12
  .col-md-1
  .col-md-10
    .panel.panel-default
      .test
        .col-md-4        
          .pull-left
            %h3
              Subject Masters
        .col-md-4  
        .col-md-4
          .pull-right
            %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal","ng-click" => "addSubject()"}= "Add Subjects"
  .col-md-1

.col-md-12
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} Add Subject
        .modal-body
          = render "new_form"

