.col-md-12
  .col-md-7
    %table#tblData.target.table.table-striped.table-condensed.table-bordered
      %thead
        %tr        
          %th Subject Name
          %th Delete
        %tbody
          %tr{"ng-repeat" => "subject in subjects | orderBy:'subject_name'"}
            %td {{subject.subject_name}}         
            %td           
              = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), "#", :class => "btn btn-danger btn-sm", :title => "Delete", :ng_click => "deleteSubject(subject)"
