.col-md-7{"ng-controller" => "TermDefinitionsController"}
  %h3 
    = "Terms"
    .pull-right
      = link_to "bulk Term", "#", :class => "btn btn-primary", :ng_click => "newTermDefinitions()"
  %hr
  %table.table.table-bordered
    %thead
      %th Terms
      %th Date
      %th Percent of Amount
      %th
    %tbody
      %tr{"ng-repeat" => "term_definition in termDefinitions"}
        %td {{term_definition.term_definition}}
        %td {{term_definition.termdate}}
        %td {{term_definition.amount_per}}
        %td
          = link_to raw("<span class='glyphicon glyphicon-edit'></span>"), "#", :class => "btn btn-warning btn-sm", :title => "Edit"
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"), "#", :class => "btn btn-danger btn-sm", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
          
  .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} New Term Definition
        .modal-body
          


        
