
%article
  .star-rating
    %input#Ans_1.rb0{:checked => "checked", :name => "numericRating", :type => "radio", :value => "0"}/
    %input#Ans_2.rb1{:name => "numericRating", :type => "radio", :value => "1"}/
    %input#Ans_3.rb2{:name => "numericRating", :type => "radio", :value => "2"}/
    %input#Ans_4.rb3{:name => "numericRating", :type => "radio", :value => "3"}/
    %input#Ans_5.rb4{:name => "numericRating", :type => "radio", :value => "4"}/
    %input#Ans_6.rb5{:name => "numericRating", :type => "radio", :value => "5"}/
    %input#Ans_7.rb6{:name => "numericRating", :type => "radio", :value => "6"}/
    %input#Ans_8.rb7{:name => "numericRating", :type => "radio", :value => "7"}/
    %input#Ans_9.rb8{:name => "numericRating", :type => "radio", :value => "8"}/
    %input#Ans_10.rb9{:name => "numericRating", :type => "radio", :value => "9"}/
    %input#Ans_11.rb10{:name => "numericRating", :type => "radio", :value => "10"}/
    %label.star.rb0l{:for => "Ans_1", :onclick => ""}
    %label.star.rb1l{:for => "Ans_2", :onclick => ""}
    %label.star.rb2l{:for => "Ans_3", :onclick => ""}
    %label.star.rb3l{:for => "Ans_4", :onclick => ""}
    %label.star.rb4l{:for => "Ans_5", :onclick => ""}
    %label.star.rb5l{:for => "Ans_6", :onclick => ""}
    %label.star.rb6l{:for => "Ans_7", :onclick => ""}
    %label.star.rb7l{:for => "Ans_8", :onclick => ""}
    %label.star.rb8l{:for => "Ans_9", :onclick => ""}
    %label.star.rb9l{:for => "Ans_10", :onclick => ""}
    %label.star.rb10l.last{:for => "Ans_11", :onclick => ""}
    %label.rb{:for => "Ans_1", :onclick => ""} 0
    %label.rb{:for => "Ans_2", :onclick => ""} 1
    %label.rb{:for => "Ans_3", :onclick => ""} 2
    %label.rb{:for => "Ans_4", :onclick => ""} 3
    %label.rb{:for => "Ans_5", :onclick => ""} 4
    %label.rb{:for => "Ans_6", :onclick => ""} 5
    %label.rb{:for => "Ans_7", :onclick => ""} 6
    %label.rb{:for => "Ans_8", :onclick => ""} 7
    %label.rb{:for => "Ans_9", :onclick => ""} 8
    %label.rb{:for => "Ans_10", :onclick => ""} 9
    %label.rb{:for => "Ans_11", :onclick => ""} 10
    .rating
    .rating-bg
  / star-rating


