.row
  -#{{activity_names}}
  .row
    .col-md-2 
    .col-md-8
      .col-md-4 
        .col-md-12
          -#= label_tag(:grade, "Select Activity") 
        .form-group.col-md-12
          %select{"ng-model" => "myActivity", "ng-options" => "activity.activity_master_id as activity.activity_name for activity  in activity_names | orderBy:'activity_name'", :class => "form-control", "ng-change" => "showMappings()"}       
            %option{style: "display:none", value: ""} Select Activity
      .col-md-3
        -#= link_to 'SHOW GRADE-WISE', show_grade_wise_teacher_grade_mappings_path,:class => 'btn btn-primary'        
      .col-md-1
               
    .col-md-2  
  .col-md-12
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
            %h4.modal-title{ :id => "myModalLabel"} Add Mapping
          .modal-body
            %table.table-striped.table-condensed.table-bordered
              %thead            
                %th TEACHER NAME
              %tbody
                %tr
                  %td
                    %select{"ng-model" => "mapping['faculty_master_id']", "ng-options" => "faculty.faculty_master_id as faculty.faculty_name for faculty in faculty_names | orderBy: 'faculty_name'",:class => "form-control"} 
                      %option{value: ""}
            %br
            .row
              .col-md-5.col-md-offset-3   
                %button{:type => "button", :class=> "btn btn-primary", :ng_click => "saveMappings()"}=  "SAVE"
                        
