%br
%br
.row
  .row
    .col-md-1
    .col-md-10
      %h3 {{student_mapping.subject_name}} - {{student_mapping.assessment_type}}({{student_mapping.assessment_desc}})
      %table{:class => "table"}
        %tr       
          %th NAME
          %th GRADE
          %th DESCRIPTION
        %tr{"ng-repeat" => "mapping  in $parent.show_Assessment_Results"}          
          %td {{mapping.student_name}}           
          %td {{mapping.grading_name}}
          %td {{mapping.assessment_result_desc}}
    .col-md-1

