%form{:class => "form-horizontal", :role => "form"}
  .row{:ng_show => "errors"}
    .alert.alert-danger{:ng_repeat => "(key, value) in errors"} {{value.join(",")}}
  - if @parent_payment_master.term_wise_payment? 
    .col-md-12{:ng_init => "routeToTermFee()"}
      %div{"ng-view" => true }
