.col-md-12{:ng_init => "getNextTerm()"}
  %form{:class => "form-horizantal", :ng_submit => "submitTermFee()"}
    .form-group
      %label.control-label.col-md-4 Term
      .col-sm-6
        %input{:type => "text", :class => "form-control", :ng_model => "parent_payment_transaction.particulars" , :readonly => true}
    .form-group
      %label{:class => "control-label col-md-4"} Term Amount  
      .col-md-6
        %input{:type => "text", :class => "form-control", :ng_model => "parent_payment_transaction.amount_in_rupees", :readonly => true}
    .form-group
      %label{:class => "control-label col-md-4"} Transaction Type  
      .col-md-6
        %select.form-control{:ng_model =>"parent_payment_transaction.transaction_type", :ng_options => "transaction.value as transaction.text for transaction in transactionTypes" , :ng_change => "is_cheque_payment = !is_cheque_payment"}

    #chqueDetailDiv{:ng_show => "is_cheque_payment"}
      .form-group
        %label{:class => "control-label col-md-4"} Cheque Number
        .col-md-6
          %input{:type => "text", :class => "form-control", :ng_model => "parent_payment_transaction.parent_cheque.cheque_number"}
      .form-group
        %label{:class => "control-label col-md-4"} Bank
        .col-md-6
          %select.form-control{ :name => "", :ng_model =>"parent_payment_transaction.parent_cheque.bank_name", :ng_options => "bank.value as bank.text for bank in supportedBanks"}
      .form-group
        %label{:class => "control-label col-md-4"} IFSC Code
        .col-md-6
          %input{:type => "text", :class => "form-control", :ng_model => "parent_payment_transaction.parent_cheque.ifsc_code"}
      .form-group
        %label{:class => "control-label col-md-4"} Cheque Date
        .col-md-6
          %input{:type => "text", :class => "datepicker form-control", :ng_model => "parent_payment_transaction.parent_cheque.cheque_date", :id => "parentChequeDate"}
    .col-md-8.pull-right.button-page-bottom
      %button{ :type => "submit", :class => 'btn btn-primary', :ng_show => "$parent.typeInitiated", :ng_hide => "$parent.submitted"} Submit

