.container
  .col-md-10
    %student_header_details{ :student_id => "#{@parent_payment_master.student_id}"}
  .col-md-10
    .col-md-5
      %grade_fee_details{ :student_id => "#{@parent_payment_master.student_id}"}
    .col-md-7
      %payment_type_tabs{ :student_id => "#{@parent_payment_master.student_id}"}

  .col-md-12{:ng_controller => "PaymentsController"}  
    = render "form"
