.row
  .col-md-1
  .col-md-10
    .col-md-2     
      %select{"ng-model" => "myGrade", "ng-options" => "grade.grade_master_id as grade.grade_name for grade in grades", :ng_change => "getSubjects(myGrade)", :class => "form-control"}
        %option{style: "display:none", value: ""} Select Grade
    .col-md-2
      %select{"ng-model" => "mySubject", "ng-options" => "subject.subject_master_id as subject.subject_name for subject in subjects | filter : {grade_master_id: myGrade}",:class => "form-control","ng-change" => "showAssessmentMappings(myGrade,mySubject)"}
        %option{style: "display:none", value: ""} Select Subject
    .col-md-2
%br
.row
  .col-md-1
  .col-md-10
    %table{:class => "table"}
      %tr
        %th ASSESSMENT NAME
        %th GRADE
        %th ASSESSMENT TYPE
        %th SUBJECT
      %tr{"ng-repeat" => "assessment in assessments"}
        %td 
          %a{href: "assessments#/show_assessments", "ng-click" => "addAssessmentCriteria(assessment.id)"} 
            {{assessment.assessment_name}} 
        %td {{assessment.grade_name}}
        %td {{assessment.assessment_type}}
        %td {{assessment.subject_name}}

.row   
  #assessmentCriteriaModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel.modal-title ADD ASSESSMENT CRITERIA            
          .modal-body
            .row
              .col-md-1
              .col-md-11
                %table{:class => "table"}
                  %tr
                    %th CRITERIA
                  %tr{"ng-repeat" =>"a_c in assessment_criteria"}
                    %td {{a_c.assessment_criteria}}
            .row
              .col-md-1
              .col-md-11{"ng-repeat" =>"criteria in criteria", :placeholder => "Criteria {{$index+1}}"}
                .form-group
                  .col-md-3       
                    %label{for: "criteria_name"} Criteria Name
                  .col-md-7
                    %input{type: "text", "ng-model" => "criteria.assessment_criteria",:class => "form-control" }
                  .col-md-1
                    %button{:type => "button", :class=> "btn btn-danger", :ng_click => "destroyCriteria($index)"}=  "-"
          .row
            %br
            .col-md-5.col-md-offset-3
              %button{:type => "button", :class=> "btn btn-primary", :ng_click => "addCriteria()"}=  "Add  Criteria"
                
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveAssessmentCriteria()", :value => "SAVE"}
         
 
   
