.row
  %center
    %h3
      STATUS REPORT
%br
%br
.col-md-12{:ng_controller => "AdmissionReportsController", :ng_init => "buildChart()"}
  %center
    #adm-flot-placeholder{:style => "width:400px;height:320px;"}
  = render "adm_popup"

