.row
  .col-md-1
  .col-md-8{"ng-show" => "myShowValue"} 
    %table.target.table.table-striped.table-condensed.table-bordered
      %tr
        %th PERIOD
        %th MON
        %th TUE
        %th WED
        %th THU
        %th FRI
        %th SAT
      %tr{"ng-repeat" => "timeperiod in timeperiods| orderBy:'id'"}
        %td Period{{" "+($index+1)}}
        %td {{timeperiod['mon_grade_section']}}
        %td {{timeperiod['tue_grade_section']}}          
        %td {{timeperiod['wed_grade_section']}}          
        %td {{timeperiod['thu_grade_section']}}           
        %td {{timeperiod['fri_grade_section']}}          
        %td {{timeperiod['sat_grade_section']}}
  .col-md-2{"ng-show" => "myShowValue"}
    - if current_user.admin?
      = submit_tag("EDIT",{class: "btn btn-primary", :ng_click => "editPeriods()"})
