.row{"ng-controller" => "TeachersTimeTablesController"}
  .row
    .col-md-2 
    .col-md-8
      .col-md-6 
        .col-md-12
          = label_tag(:grade, "Select Teacher") 
        .form-group.col-md-12
          %select{"ng-model" => "myTeacher", "ng-options" => "faculty.id as faculty.name for faculty  in faculty_names | orderBy:'name'",:class => "form-control",:required => "required"}       
            %option{style: "display:none", value: ""} Select Teacher
      .col-md-6
        .col-md-12
          = submit_tag("SHOW TIME TABLE",{class: "btn btn-primary", :ng_click => "showTimeTable()"})         
    .col-md-2
  .row
    .col-md-1
    .col-md-8
      %div{"ng-show" => "myValue"}
        %table{:class => "table"}
          %tr
            %th PERIOD
            %th MON
            %th TUE
            %th WED
            %th THU
            %th FRI
            %th SAT 
            %th 
          %tr{"ng-repeat" => "timeperiod in timeperiods | orderBy:'id'" }
            %td Period{{" "+($index+1)}}
            %td               
              %select{"ng-model" => "timeperiod['mon_grade_section']", "ng-options" => "gradesection.grade_section as  gradesection.grade_section for gradesection in faculty_grade_sections | filter: {id:myTeacher}",:class => "form-control"} 
                %option{value: ""}
              //{{timeperiod['mon_grade_section']}}
            %td
              %select{"ng-model" => "timeperiod['tue_grade_section']", "ng-options" => "gradesection.grade_section as  gradesection.grade_section for gradesection in faculty_grade_sections | filter: {id:myTeacher}",:class => "form-control"} 
                %option{value: ""}
            %td
              %select{"ng-model" => "timeperiod['wed_grade_section']", "ng-options" => "gradesection.grade_section as  gradesection.grade_section for gradesection in faculty_grade_sections | filter: {id:myTeacher}",:class => "form-control"}  
                %option{value: ""}
            %td
              %select{"ng-model" => "timeperiod['thu_grade_section']", "ng-options" => "gradesection.grade_section as  gradesection.grade_section for gradesection in faculty_grade_sections | filter: {id:myTeacher}",:class => "form-control"}  
                %option{value: ""}
            %td 
              %select{"ng-model" => "timeperiod['fri_grade_section']", "ng-options" => "gradesection.grade_section as  gradesection.grade_section for gradesection in faculty_grade_sections | filter: {id:myTeacher}",:class => "form-control"}
                %option{value: ""}
            %td 
              %select{"ng-model" => "timeperiod['sat_grade_section']", "ng-options" => "gradesection.grade_section as  gradesection.grade_section for gradesection in faculty_grade_sections | filter: {id:myTeacher}",:class => "form-control"}  
                %option{value: ""}
            %td
              %input{:type => "button", "ng-click" => "clearRowPeriods($index)", :class => "btn btn-danger btn-sm", :value => "CLEAR" }
          %tr
            %td
            %td{"ng-repeat" => "i in [1, 2, 3, 4, 5, 6]"}
              %input{:type => "button", "ng-click" => "clearColumnPeriods($index)", :class => "btn btn-danger btn-sm", :value => "CLEAR   " }
            %td
              %input{:type => "button", "ng-click" => "clearAllPeriods()", :class => "btn btn-danger btn-sm", :value => "CLEAR ALL" } 
    .col-md-2{"ng-show" => "myValue"} 
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "savePeriods()", :value => "SAVE"} 

  .row
    = render "show_teacher_time_table_form"
    
