.row  
  .row
    .col-md-1
    .col-md-10
      .col-md-3
        = label_tag(:grade, "SELECT TERM")      
        %select{"ng-model" => "myTerm", "ng-options" => "academic_term as academic_term.term_name for academic_term  in academic_terms | orderBy:'term_name'", "ng-change" => "", :class => "form-control", :href => "#"}   
          %option{style: "display:none", value: ""} select term
      .col-md-3
        = label_tag(:grade, "SELECT GRADE-SECTION")      
        %select{"ng-model" => "studentGradeSection", "ng-options" => "mapping as mapping.student_grade_section for mapping  in grades_sections | orderBy:'grade_master_id'", "ng-change" => "getGradeSectionStudents()", :class => "form-control", :href => "#"}   
          %option{style: "display:none", value: ""} select grade - section
    .col-md-1
  %br
  %br
  .row
    .col-md-1
    .col-md-10
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %th STUDENT NAME 
          - @academic_terms.each do |academic_term|
            %th TERM  
        %tbody
          %tr{"ng-repeat" => "student in students"}
            %td {{student.student_name}}        
            %td{"ng-repeat" => "grade_subject in grade_subjects | orderBy: 'subject_name'"}
              %a{href: "#", "ng-click" =>"shoddddddwStudentTermResults(academic_term,student)"} {{grade_subject.subject_name}}
    .col-md-1  
  %br
  %br
  .row{"ng-show" => "student_Result"}
    .col-md-1
    .col-md-10
      .row{"ng-repeat" => "grade_subject in grade_subjects"}
        %h4 {{grade_subject.subject_name}}
        %table.table.table-bordered.table-striped.table-hover
          %thead{"ng-repeat" => "mapping in subject_wise_criteria"}
            %tr{"ng-repeat" => "mappinga in mapping.assessment_criteria |filter:{subject_master_id : grade_subject.subject_master_id}"}
              %td {{mappinga.subject_criteria}}                       
              %td{"ng-repeat" => "term_result in term_results | filter: {assessment_criteria_id : mappinga.id}"}
                {{term_result.grading_name}} 
    .col-md-1 
