.row
  .row
    .col-md-1
    .col-md-10
      .col-md-3
        = link_to 'MY TERM RESULTS', teacher_index_term_results_path,:class => 'btn btn-primary' 
      .col-md-3
        = link_to 'MY CLASS TERM RESULTS', class_teacher_show_term_results_path,:class => 'btn btn-primary'     
    .col-md-1
