.row{"ng-controller" => "TermResultsController"}
  .row
    .col-md-1
    .col-md-10
      .col-md-3
        %a{href: "#", :class => "btn btn-primary", :title => "Trigger Term Results", "ng-click" => "showTrigger()"} TRIGGER
      .col-md-3
        %a{href: "#", :class => "btn btn-primary", :title => "Show Term results", "ng-click" => "showShow()"} SHOW
    .col-md-1
  %br
  %br  
  .row{"ng-show" => "showTriggerForm"}
    = render "principal_trigger_form"
  .row{"ng-show" => "showShowForm"}   
    = render "principal_show_form"           




