.row{"ng-controller" => "TermResultsController"} 
  .row
    .col-md-1
    .col-md-10     
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %th TERM         
          %th FROM DATE 
          %th TO DATE 
        %tbody
          %tr{"ng-repeat" => "academic_term in academic_terms | orderBy: 'term_name'"}
            %td 
              %a{href: "#", "ng-click" =>"selectTermResults(academic_term)"} {{academic_term.term_name}}
            %td {{academic_term.from_date}}
            %td {{academic_term.to_date }}              
    .col-md-1  
  .row{"ng-show" => "teacher_view_term_Result"}
    .col-md-1
    .col-md-10 
      .row
        .col-md-1
        .col-md-8
          = label_tag(:grade, "SELECT GRADE-SECTION-SUBJECT")      
          %select{"ng-model" => "myGradeSection", "ng-options" => "mapping as mapping.teacher_grade_subject for mapping  in teacher_grade_subject_mappings | orderBy:'id'", "ng-change" => "getTermResults()", :class => "form-control", :href => "#teacher_show"}   
            %option{style: "display:none", value: ""} select grade - section - subject                    
          %br
          %br   
          .row
            %table.table.table-bordered.table-striped.table-hover
              %thead
                %th.rotate
                  %div
                    %span STUDENT NAME                 
                %th{"ng-repeat" => "ac in assessment_criteria"}                    
                  {{ac.subject_criteria}} 
                %th EDIT
              %tbody
                %tr{"ng-repeat" => "student in students"}
                  %td {{student.student_name}}  
                  %td{"ng-repeat" => "ac in assessment_criteria", "ng-show" => "true"}                       
                    %p{"ng-repeat" => "result  in term_results | filter : {assessment_criteria_id: ac.id} | filter: {student_master_id: student.id}"}   
                        
                      {{result.grading_name}}   
                  %td
                    %a{href: "#", :class => "btn btn-warning btn-sm",:title => "EDIT","ng-click" => "editTermResults(student)"}       
                      %span{class: "glyphicon glyphicon-pencil"}
                  %td{"ng-repeat" => "ac in assessment_criteria", "ng-show" => "false"}   
                    %select{"ng-model" => "myGrading", "ng-options" => "grading.id as grading.grading_name for grading in gradings", :class => "form-control"} 
      
    .col-md-1 
  .row
    #myEditTermResultsModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4#myModalLabel.modal-title EDIT STUDENT TERM RESULT           
            .modal-body             
              .row
                %table.table.table-bordered.table-striped.table-hover
                  %thead
                    %th STUDENT NAME                 
                    %th{"ng-repeat" => "ac in assessment_criteria"}                       
                      {{ac.subject_criteria}} 
                  %tbody
                    %tr{"ng-repeat" => "edit_term_result in edit_term_results"}
                      %td {{edit_term_result.student_name}} 
                      %td{"ng-repeat" => "ac in assessment_criteria"} 
                        %select{"ng-model" => "myGrading", "ng-options" => "grading.id as grading.grading_name for grading in gradings", :class => "form-control"}                         
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveTermResults()", :value => "SAVE"}
  




