.row{"ng-controller" => "AssessmentResultsController"}
  .row
    .col-md-1
    .col-md-10
      .col-md-3
        %a{href: "#assessment_results/show_form", :class => "btn btn-primary", :title => "MY ASSESSMENTS", "ng-click" => "editssAssessmentTypeMappings({})"} MY ASSESSMENTS      
    .col-md-1
  .row
    .col-md-1
    .col-md-10
      .row 
        %div{"ng-view" => ""}
    .col-md-1
  .row
    :css
      table, th, td
      {
      border-collapse:collapse;
      border:5px solid #6aa6d6;
      }
      th, td
      {
      padding:5px;
      } 
