.col-md-12
  = render :partial => "shared/search_student", :locals => { :submit_path => student_masters_path}
%hr
%br

= render :partial => "students", :locals => {:students => @student_masters, :context => params[:context]}

= will_paginate @student_masters, param_name: "page", previous_label: h("<"), next_label: h(">")
