.col-md-10{:ng_controller => "approvalsController", :ng_init => "index()"}
  %h3 
    = "Approvals"
  %hr
  .col-md-12
    %table.table.table-bordered
      %thead
        %tr
          %th Defined by
          %th Type 
          %th Status
          %th Academic Year
          %th Approved by
          %th Action
      %tbody
        %tr{"ng-repeat" => "item in approvals"}
          %td {{item.defined_user}}
          %td= link_to "{{item.item_type}}", grade_wise_fees_path
          %td {{item.status}} 
          %td {{item.academic_year}}
          %td {{item.approved_user}}
          %td 
            %a{:href => "#", :class => "font-mid",:ng_class => "{'label label-danger': item.status == 'pending', 'label label-success': item.status == 'approved' }", :ng_click => "approve(item)", :ng_disabled => "item.status == 'approved'", :ng_show => "item.status != 'rejected'"}
              {{item.status == 'pending' ? 'Approve' : 'Approved' }}
            &nbsp;&nbsp;&nbsp
            %a{:href => "#", :class => "font-mid", :ng_class => "{'label label-info': item.status != 'rejected', 'label label-danger': item.status == 'rejected' }", :ng_click => "reject(item)", :ng_disabled => "item.status == 'rejected'"}
              {{item.status == 'rejected' ? 'Rejected' : 'Reject' }}
              
