.col-md-12{ "ng-controller" => "MonthlyPdcsController", "ng-init" => "getGridView()"}
  .col-md-2.col-md-offset-8
    .checkbox
      %input{ :type => "checkbox", "ng-change" => "toggleAmounts()", "ng-model" => "defaultAmounts", "ng-true-value" => "true",  "ng-false-value" => "false" }
      %label Reset
  %table.table
    %thead
      %th
      %th{"ng-repeat" => "colHead in columnHeaders"}  
        %label{:class => "form-label"}
          {{colHead}}
      %th
        %label{:class => "form-label"}
          Total
    %tbody
      %tr{"ng-repeat" => "pdc_amount in monthlyPdcs"}
        %td
          %label{:class => "form-label"}
            {{rowHeaders[$index]}}
        %td{"ng-repeat" => "unit in pdc_amount"}
          %input{:type => "text", :class=> "form-control", "ng-model" => "monthlyPdcs[$parent.$index][$index]['amount_in_rupees']"}
        %td
          %input{:type => "text", :class=> "form-control", :readonly => true, :value => "{{sumTotals[$index]}}"}
          %span{"ng-show" => "showError($index)", :class => "alert" } *Sum Mismatch 
  = render "shared/amount_units"  
  .row    
    .col-md-4.col-md-offset-10
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveMonthlyPdc()", :value => "Save"} 
      = link_to "Back", monthly_pdc_amounts_path, :class => "btn btn-primary"
