.row
  .col-md-12
    %h4 Monthly Post Dated Cheque Amounts
    %hr

.col-md-12{ "ng-controller" => "MonthlyPdcsGridController", "ng-init" => "getGridView()"}

  %table.table.table-bordered.table-striped.table-hover
    %thead
      %th
      %th{"ng-repeat" => "colHead in columnHeaders"}  
        %label{:class => "form-label"}
          {{colHead}}
      %th
        %label{:class => "form-label"}
          Total
    %tbody
      %tr{"ng-repeat" => "pdc_amount in monthlyPdcs"}
        %td
          %label{:class => "form-label"}
            {{rowHeaders[$index]}}
        %td{"ng-repeat" => "unit in pdc_amount"}
          {{unit.amount_in_rupees}}
        %td
          {{sumTotals[$index]}}

