.col-sm-12
  %table.table.table-bordered
    %tr
      %td
        %table
          %tr
            %table.table.table-bordered{:style => 'width: 100%'}
              %tr
                %td{:colspan => "5"} 
                  .certificate-css
                    ANNEXURE-B
              %tr
                %td{:colspan => "5"} 
                  .certificate-css
                    DETAILS OF TAX DEDUCTED AND DEPOSITED IN THE CENTRAL GOVERNMENT ACCOUNT THROUGH CHALLAN
              %tr
                %td{:colspan => "5"} 
                  .certificate-css
                    (The Employer to provide payment wisse details of tax deducted and deposited with respect to the employee)
              %tr{:colspan => "5", :rowspan => 2} 
                %td{:rowspan => "2"}
                  S.no
                %td{:rowspan => "2"} Tax Deposited in respect of the employee (Rs.)
                %td{:colspan => "3"}
                  %center
                    Challan Identification Number (CIN)
              %tr
                %td{:style => 'width: 20%'} BSR Code of the Bank Branch
                %td{:style => 'width: 20%'} Date on which tax deposited
                %td{:style => 'width: 20%'} 

              %tr
                %td 1
                %td Err:509
                %td 271852
                %td 05/06/2010
                %td 5133
              %tr
                %td 2
                %td Err:509
                %td 271852
                %td 06/06/2010
                %td 5196
              %tr
                %td 3
                %td Err:509
                %td 271852
                %td 07/06/2010
                %td 5160
              %tr
                %td 4
                %td Err:509
                %td 271852
                %td 08/06/2010
                %td 6999
              %tr
                %td 5
                %td Err:509
                %td 271852
                %td 09/06/2010
                %td 7067
              %tr
                %td 6
                %td Err:509
                %td 271852
                %td 10/05/2010
                %td 5104
              %tr
                %td 7
                %td Err:509
                %td 271852
                %td 11/02/2010
                %td 5714
              %tr
                %td 8
                %td Err:509
                %td 271852
                %td 12/06/2010
                %td 6414
              %tr
                %td 9
                %td Err:509
                %td 271852
                %td 01/06/2011
                %td 6361
              %tr
                %td 10
                %td Err:509
                %td 271852
                %td 02/05/2011
                %td 5200
              %tr
                %td 11
                %td Err:509
                %td 271852
                %td 03/05/2011
                %td 5161
              %tr
                %td 12
                %td Err:509
                %td 271852
                %td 31/03/2011
                %td 6311
              %tr
                %td TOTAL
                %td Err:509
                %td 
                %td 
                %td 

