.col-sm-12
  %table.table.table-bordered
    %tr
      %td
        %h4
          .col-sm-8
          .col-sm-2
            Certificate no.
          .col-sm-2
            2010-2011/006
    %tr
      %td
        %h3
          %center
            %b
              FORM No.16
            %h5
              %b
                {See Rule 31(1)(a)}
    %tr
      %td
        .certificate-css
          PART A
    %tr
      %td
        .certificate-css
          Certificate under section 203 of the Incometax Act, 1961 for Tax deducted at source on Salary
    %tr
      %td
        %table.table.table-bordered
          %tr
            .col-sm-6
              %td
                .certificate-css
                  Name and Address of the Employer
            .col-sm-6
              %td
                .certificate-css
                  Name and Designation of the Employee
          
          %tr
            %td
              %h4
                %b
                  HOCHTIEF (India) Private Limited
                  %br
                  No.8 Khader Nawaz Khan Road 
                  %br
                  Chennai 600 006
            %td
              %h4
                PRAKASH BABU.G
                %hr
                DEPUTY PROJECT MANAGER
    %tr
      %td
        %h4
          %table.table.table-bordered
            %tr
              %th PAN of the Deductor
              %th TAN of the Deductor
              %th PAN of the Employee
            %tr
              %td AAACH7274C
              %td CHEH02176G
              %td Err:509
              
    %tr
      %td
        %table.table.table-bordered
          %tr
            %td
              %h4
                CIT (TDS)
                %br
                Nungambakkam High Road
                %br
                Chennai 600034
            %td
              %table.table.table.bordered
                %thead
                  %tr
                    %th
                      .certificate-css
                        Assessment Year
                %tbody
                  %tr
                    %td
                      .certificate-css
                        2011-2012

            %td
              %table.table.table.bordered
                %thead
                  %tr
                    %th
                      .certificate-css
                        PERIOD
                    
                %tbody
                  %td
                    %table.table.table-bordered
                      %td
                        .certificate-css
                          04/01/2010
                      %td
                        .certificate-css
                          31/3/2011
    %tr
      %td
        .certificate-css
          Summary of tax deducted at source

    %tr
      %td
        %table.table.table-bordered
          %tr.certificate-css
            %th 
              Quarter
            %th
              Receipt Number of original statements of TDS under sub-section (3) of Section 200
            %th
              Amount of tax deducted in respect of employee
            %th
              Amount of tax deposited/remitted in respect of employee
          %tr
            %td Q1
            %td 030041900942185
            %td Err:508
            %td Err:508
          %tr
            %td Q2
            %td CATXXFGB
            %td Err:508
            %td Err:508
          %tr
            %td Q3
            %td XRVXCBLA
            %td Err:508
            %td Err:508
          %tr
            %td Q4
            %td Not yet Filed
            %td Err:508
            %td Err:508
          = render "partb"
          = render "annexure"




