.col-md-7{"ng-controller" => "RouteController"}
  %h3
    Routes
  %h5
    = link_to "New Route", "#", :class => "btn btn-primary", :ng_click => "newRoute()"
  %hr
  %table.table.table-bordered
    %thead
      %th waypoints
      %th
    %tbody
      %tr{"ng-repeat" => "route in routes"}
        %td {{route.lpp}}
        %td 
          = link_to raw("<span class='glyphicon glyphicon-trash'></span>"),"#", :class => "btn btn-danger btn-sm", :title => "Delete" , :ng_click => "destroy(route) ", :data => { :confirm => "Are You Sure to Delete "}
  .modal.fade{ :id => "createModal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
    .modal-dialog
      .modal-content
        .modal-header
          %button{ :class => "close", "data-dismiss" => "modal", "aria-hidden" => "true" } &times;
          %h4.modal-title{ :id => "myModalLabel"} New Route
        .modal-body
          = render "form1"
        
.row
  = render "shared/gmap"
 


