.form-group
  .col-md-4
    %label{:class => "form-label"} Discount  
  %input{:type => "text", :class => "col-md-6 form-control", :ng_model => "discount", :readonly => true}
.form-group
  .col-md-4
    %label{:class => "form-label"} Total  
  %input{:type => "text", :class => "col-md-6 form-control", :ng_model => "total", :readonly => true}
.form-group
  .col-md-4
    %label{:class => "form-label"} Amount   
  %input{:type => "text", :class => "col-md-6 form-control"}
