.panel.panel-default
  .panel-heading
    Grade: {{grade}}
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %th Fee Type
      %th Amount
    %tbody
      %tr{:ng_repeat => "fee_type in fee_types"}
        %td {{fee_type.fee_type}}
        %td {{fee_type.amount_in_rupees}}

      %tr
        %th Total
        %th {{total}}
