.col-md-12{:ng_init => "month_fee_payment_details()"}
  .col-md-12{:ng_show => "monthlyFees.length"}
    .pull-right
      %span{:ng_click => "applyforAllMonths()", :class => "label label-success", :style => "cursor: pointer;", :ng_show => "checkfirstFilled()"} Apply To All
    %table.table.table-bordered
      %thead
        %th Month
        %th Amount
        %th Cheque #
        %th{:style => "width: 30%;"} Bank
        %th IFSC
      %tbody
        %tr{"ng-repeat" => "month in monthlyFees" }
          %td
            %input{:type => "text", :class => "form-control", :ng_model => "month.month", :readonly => true}
            %input{:type => "hidden", :ng_value => "month.post_dated_cheque_id" , :name => "[parent_payment_master][parent_payment_transactions][{{$index}}][parent_cheque][post_dated_cheque_id]"}
          %td
            %input{:type => "text", :class => "form-control", :ng_model => "month.amount_in_rupees", :readonly => true, :name => "[parent_payment_master][parent_payment_transactions][{{$index}}][amount_in_rupees]"}
          %td
            %input{ :type => "text",:class => "form-control", :placeholder => "Check Number/Details", :name => "[parent_payment_master][parent_payment_transactions][{{$index}}][parent_cheque][cheque_number]", :ng_model => "month.cheque_number"}
          %td
            %select.form-control{ :name => "", :ng_options => "bank.value as bank.text for bank in supportedBanks", :ng_model => "month.bank_name"}
            %input{:type => "hidden", :ng_value => "month.bank_name" , :name => "[parent_payment_master][parent_payment_transactions][{{$index}}][parent_cheque][bank_name]"}
          %td
            %input{:type => "text", :class => "form-control", :name => "[parent_payment_master][parent_payment_transactions][{{$index}}][parent_cheque][ifsc_code]", :ng_model => "month.ifsc_code"}
