.form-group
  %input{:type => "text", :class => "col-md-4 form-control", :ng_model => "discount", :readonly => true}
  %input{:type => "text", :class => "col-md-4 form-control", :ng_model => "discount", :readonly => true, :placeholder => "Amount"}
  %input{:type => "text", :class => "col-md-4 form-control", :ng_model => "discount", :readonly => true, :placeholder => "Check Number/Details"}
