.col-md-12
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %th{:ng_show => "editable"}  
      %th Name
      %th Grade
      %th Section
      %th Academic Year
    %tbody
      %tr{:ng_repeat => "student in students"}
        %td{:ng_show => "editable"}   
          %input{:type => "checkbox", :ng_click => "$parent.checked_item(student)", :id => "student-{{student.id}}"}
        %td {{student.name }} {{editable}}  
        %td {{ student.grade }}
        %td {{ student.section }}
        %td {{ student.academic_year }}
      
        
