.panel.panel-default
  .panel-body
    %ul.nav.nav-tabs{:id => "feeTab"}
      %li.active
        %a{ :href => "#anual", :data => { :toggle => "tab"}, :ng_click => "anual_fee_structure()"}
          Annual
      %li
        %a{ :href => "#term_wise", :data => { :toggle => "tab"}, :ng_click => "term_wise_fee_structure()"}
          Term Wise
      %li
        %a{ :href => "#monthly", :data => { :toggle => "tab"}, :ng_click => "monthly_fee_structure()"}
          Monthly
    .tab-content
      #anual.tab-pane.fade.in.active
        %table.table.table-bordered.table-striped.table-hover
          %tbody
            %tr 
              %td Total Amount
              %td {{discount.total_amount}}
            %tr 
              %td Discount %
              %td {{discount.percentage}}
            %tr 
              %td Discount Amount
              %td {{discount.discount_amount}}
            %tr 
              %th Final Amount
              %th {{discount.amount_to_be_paid}}
      #term_wise.tab-pane.fade
        %table.table.table-bordered.table-striped.table-hover
          %thead
            %th Term
            %th Amount
          %tbody
            %tr{"ng-repeat" => "term in terms"}
              %td {{term.term}}
              %td {{term.amount_in_rupees}}
            %tr
              %th Total
              %td {{term_totals}}
      #monthly.tab-pane.fade
        .col-md-6
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %th Month
              %th Amount
            %tbody
              %tr{"ng-repeat" => "month in months | limitTo:5"}
                %td {{month.month}}
                %td {{month.amount_in_rupees}}
        .col-md-6
          %table.table.table-bordered.table-striped.table-hover
            %thead
              %th Month
              %th Amount
            %tbody
              %tr{"ng-repeat" => "month in months | limitTo: months.length | limitTo: -5"}
                %td {{month.month}}
                %td {{month.amount_in_rupees}}
              %tr
                %th Total
                %th {{month_totals}}
    
