.row
  .col-md-4
    .col-md-4
      %label.form-label Name
    .col-md-8
      %input{:type => "text", :class => "form-control", :ng_model => "student.name", :readonly => true}
  .col-md-4
    .col-md-4
      %label.form-label Dob
    .col-md-8
      %input{:type => "text", :class => "form-control", :ng_model => "student.dob", :readonly => true}
  .col-md-4
    .col-md-4
      %label.form-label Joing Date
    .col-md-8
      %input{:type => "text", :class => "form-control", :ng_model => "student.joining_date", :readonly => true}
.row
  .col-md-4
    .col-md-4
      %label.form-label Grade
    .col-md-8
      %input{:type => "text", :class => "form-control", :ng_model => "student.grade", :readonly => true}
  .col-md-4
    .col-md-4
      %label.form-label Section
    .col-md-8
      %input{:type => "text", :class => "form-control", :ng_model => "student.section", :readonly => true}
  .col-md-4
    .col-md-4
      %label.form-label Academic Year
    .col-md-8
      %input{:type => "text", :class => "form-control", :ng_model => "student.academic_year", :readonly => true}
