.col-md-11{:ng_init => "term_fee_payment_details()"}
  .form-group
    %label.control-label.col-md-4 Term
    .col-sm-6
      %input{:type => "text", :class => "form-control", :ng_model => "term.term", :readonly => true}
      %input{:type => "hidden", :ng_value => "term.term" , :name => "[parent_payment_master][parent_payment_transactions][0][particulars]"}
      %input{:type => "hidden", :ng_value => "term.term_definition_id" , :name => "[parent_payment_master][parent_payment_transactions][0][term_definition_id]"}
  .form-group
    %label{:class => "control-label col-md-4"} Term Amount  
    .col-md-6
      %input{:type => "text", :class => "form-control", :ng_model => "term.amount_in_rupees", :readonly => true, :name => "[parent_payment_master][parent_payment_transactions][0][amount_in_rupees]"}
  .form-group
    %label{:class => "control-label col-md-4"} Transaction Type  
    .col-md-6
      %select.form-control{ :name => "", :ng_model =>"selected_transaction_type", :ng_options => "transaction.value as transaction.text for transaction in transactionTypes" , :ng_change => "transactionTypeChange(selected_transaction_type)"}
      %input{:type => "hidden", :ng_value => "selected_transaction_type" , :name => "[parent_payment_master][parent_payment_transactions][0][transaction_type]"}
  #chqueDetailDiv{:ng_show => "is_cheque_payment"}
    .form-group
      %label{:class => "control-label col-md-4"} Cheque Number
      .col-md-6
        %input{:type => "text", :class => "form-control", :name => "[parent_payment_master][parent_payment_transactions][0][parent_cheque][cheque_number]"}
    .form-group
      %label{:class => "control-label col-md-4"} Bank
      .col-md-6
        %select.form-control{ :name => "", :ng_model =>"selected_bank", :ng_options => "bank.value as bank.text for bank in supportedBanks"}
        %input{:type => "hidden", :ng_value => "selected_bank" , :name => "[parent_payment_master][parent_payment_transactions][0][parent_cheque][bank_name]"}
    .form-group
      %label{:class => "control-label col-md-4"} IFSC Code
      .col-md-6
        %input{:type => "text", :class => "form-control", :name => "[parent_payment_master][parent_payment_transactions][0][parent_cheque][ifsc_code]"}
    .form-group
      %label{:class => "control-label col-md-4"} Cheque Date
      .col-md-6
        %input{:type => "text", :class => "datepicker form-control", :name => "[parent_payment_master][parent_payment_transactions][0][parent_cheque][cheque_date]"}


