.col-md-12
  .col-md-4
    %label{:class => "form-label"} Term
  .col-md-6
    %input{:type => "text", :class => "form-control", :ng_model => "term", :readonly => true}
.col-md-12
  .col-md-4
    %label{:class => "form-label"} Term Amount  
  .col-md-6
    %input{:type => "text", :class => " form-control", :ng_model => "termAmount", :readonly => true}
.col-md-12
  .col-md-4
    %label{:class => "form-label"} Amount   
  .col-md-6
    %input{:type => "text", :class => "col-md-6 form-control"}
