.row{"ng-controller" => "IssuingsController"}
  .form-group.col-md-3
    %label{:class=> "form-label col-md-4"} Grade
    .col-md-6
      %select{"ng-model" => "myGrade", :ng_options => "grade.id as grade.grade for grade in grades", :class => "form-control"}
        
  .form-group.col-md-3
    %label{:class=> "form-label col-md-4"} Section
    .col-md-6
      %select{"ng-model" => "mySection", :ng_options => "section.id  as section.section for section in sections | filter: {grade_master_id: myGrade}", :class=>"form-control"}
  .form-group.col-md-5
   
    .col-md-4
     
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveMappings()", :value => "SAVE"} 
