.row{"ng-controller" => "IssuingsController"}
  .col-sm-2
    = label_tag(:grade, "SELECT GRADE-SECTION")      
    %select{"ng-model" => "selectedUser", "ng-options" => "selectedUser as combined(selectedUser) for selectedUser in unAssignedUsers | orderBy:'id'", "ng-change" => "getValues(selectedUser.union)", :class => "form-control"}
      
    %option{style: "display:none", value: ""} select 
    %table.table.table-condensed.table-condensed.table-hovered.table-striped
    %thead
      %tr
        %th STUDENT NAME
        %th ALLOT BOOKS
    %tbody
      %tr{"ng-repeat" => "x in values"}
        %td {{x.student_name}}
        %td{"ng-repeat" => "key in x.issuing"}  
          .pull-left
            %input{:ng_hide => "key.book_issue == 'Returned' or null", type: "text",:style => "width:150px;", "ng-model" => "key.book_name",:class => "form-control", :readonly => "true", :ng_show => "key.book_issue == 'Issued'"}
          .pull-left
            %button{:type => "button", :class => "btn btn-primary", :ng_show => "key.book_issue == 'Issued' ", :ng_click => "updateValues(key.issuing_id)",:ng_hide => "key.book_issue == 'Returned' or null"} Return
          .pull-left
            = autocomplete_field_tag :book_name,
            '',
            auto_search_autocomplete_available_book_name_path,
            :placeholder => "Book Name", :class => 'form-control',
            :required => true,
            :id_element => "#id",
            :style => "width:150px;",
            :ng_hide => "key.book_issue == 'Issued'",
            :ng_show => "key.book_issue == 'Returned'"
            = hidden_field_tag :id, :id => "id"

          .pull-left
            %button{:type => "button", :class=> "btn btn-primary",:ng_click => "saveValues(x.student_id,id,x.grade_master_id,x.section_master_id,date)", :ng_hide => "key.book_issue == 'Issued'",:ng_show => "key.book_issue == 'Returned'" } Issue

    


