.row{"ng-controller" => "GradeController"}
  .form-group.col-md-3
    %label{:class=> "form-label col-md-4"} Grade
    .col-md-6
      %select{"ng-model" => "myGrade", "ng-options" => "grade.id as grade.grade for grade in map_grades",:class => "form-control"} 
  .form-group.col-md-5
    .col-md-4
      = submit_tag("Add Plan",{class: "btn btn-primary", :ng_click => "showPeriods()"})    
