.row{"ng-controller" => "TeachingPlansController"}
  .form-group.col-md-7
    %label{:class=> "form-label col-md-4"} Grade-Section-Subject
    .col-md-6      
      %select{"ng-model" => "myGrade_Section_Subject", :ng_options => "a.grade_section_subject for a in grades_sections_subjects", :class => "form-control"} 
        
    .col-sm-12
      %center
        %h5
          TEACHING PLANS        
      %ul.nav.nav-tabs{:role => "tablist"}
        %li{"ng-repeat" =>"month in months"}                 
          %a{:ng_click => "getMonthData(month)","data-toggle" => "tab", :role => "tab"} {{month.month}}                   
      .tab-content
        %br
        #month.tab-pane.active              
          %table.table.table-bordered{:ng_show => "monthData"}
            %thead
              %th Date
              %th Grade Section Subject
              %th Plan
              %th
            %tbody
              %tr{"ng-repeat" => "teaching_plan in monthData"}
                %td {{teaching_plan.date}}
                %td {{teaching_plan.grade_Section_subject}}
                %td {{teaching_plan.plan_month}}
                %td
          
              


 
              
                    
  .form-group.col-md-5 
    .col-md-4
      = link_to "ViewPlan",'#' , :class => 'enq_button btn btn-primary'
      // %button.btn.btn-primary{"data-target" => "#myModal","data-toggle" => "modal"}= "Add Plan"
    .col-sm-5
      .teachingplancaledar
        #calendar1     
        = render "form"
        / = will_paginate @teaching_plans1, param_name: "page", previous_label: h("<"), next_label: h(">")
                
                      
                  
