.col-md-12{"ng-controller" => "TeachingPlansController"}
  .row
    - if current_user.admin?
      .form-group.col-md-4
        %label{:class=> "form-label col-md-4"} Teacher
        .col-md-5     
          %select{"ng-model" => "myTeacher", "ng-options" => "faculty.faculty_master_id as faculty.faculty_name for faculty in faculty_names | orderBy:'name'",:class => "form-control",:required => "required"}
            %option{style: "display:none", value: ""} Select Teacher
    .form-group.col-md-4
      %label{:class=> "form-label col-md-4"} Grade-Section-Subject
      .col-md-5     
        %select{"ng-model" => "myGrade_Section_Subject", :ng_options => "a.grade_section_subject for a in grades_sections_subjects | filter: {faculty_master_id:myTeacher}", :class => "form-control"}          
      .col-md-2
        = link_to "ViewPlan",'#' , :class => 'enq_button btn btn-primary' 
  .row
    .col-md-8
      %center
        %h5
          TEACHING PLANS        
      %ul.nav.nav-tabs{:role => "tablist"}
        %li{"ng-repeat" =>"month in months", :ng_class => "{'active': isCurrentMonth(month)}"}                 
          %a{:ng_click => "getMonthData(month, false)","data-toggle" => "tab", :role => "tab"} {{month.month}}                 

      .tab-content
        %br
        #month.tab-pane.active              
          %table.table.table-bordered{:ng_show => "monthData"}
            %thead
              %th Date
              %th Grade Section Subject
              %th Plan
              %th
            %tbody
              %tr{"ng-repeat" => "teaching_plan in monthData"}
                %td {{teaching_plan.date}}
                %td {{teaching_plan.grade_Section_subject}}
                %td {{teaching_plan.plan_month}}
                %td= link_to raw("<span class='glyphicon glyphicon-trash'></span>"), "/teaching_plans/{{teaching_plan.id}}", :class => "btn btn-danger btn-sm", :data => {:method => 'delete' , :confirm => "Are You Sure to Delete ?"}, :title => "Delete" 
  
    .col-md-2 
      #calendar1     

    .col-sm-5
      = render "form"
                
                      
                  
