/* .container
/*   min-height: 650px
/*   background: #FFF
/*   border-radius: 8px
/*   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176)
/*   padding: 10px 18px 0px 10px
/*   overflow: auto
#form-right
  background-color: #E0E0E0
  width: 30%
  height: 100%
  float: left
  padding-top: 0px
  padding-bottom: 0px
  
  border-radius: 15px
  moz-border-radius: 15px
  border: 2px solid
     
.login
  margin-top: 18%
  .image
    margin-left: -5%
.form
  margin-top: 5%
.banner
  min-height: 40px
  background: $banner-bg
  border: 2px solid transparent
  .logo
    padding-top: 3px
