.col-sm-10
  = image_tag "add.png" ,:width => "100",:height => "100"
  %br
  %span.label.label-primary STEP:2 Admission Details
  = label_tag "(All fields are mandatory)"
  = render :partial => "form", :locals => {:admissions => @admissions}
