.row
  .col-sm-5
    .well
      #calendar2

  .col-sm-7
                    
    %br
    .col-sm-6
      .table-well
        %center
          %h4
            LISTING EVENTS
            
        %table.table-striped.table-condensed.table-bordered
          %tr
            %th{style: "width:7%"} Title
            %th{style: "width:7%"} Start time
            - @admissions.each do |admission|
              %tr
                %td= admission.title
                %td= admission.start_time
                
