.row
  .col-sm-3
    .pull-left
      .input-group
        %span.input-group-addon
          = fa_icon "search lg"
        %input#search{name: "search", placeholder: "Enter Search Term", type: "text",:class => 'form-control'}/
        %br
  .col-sm-4
    %center
      %h4
        Assessment Planned
%br
%br
.row{"ng-controller" => "AttendanceController"}
  %table#tblData.target.table.table-striped.table-condensed.table-bordered{:style => "width:95%"}
    %thead
      %tr
        %th Form no
        %th Name
        %th Class
        %th Status
               
    %tbody
      %tr{"ng-repeat" => "assess in ass"}
        %td{:style => "width:20%"}
          %a{:href => "", "ng-click" => "getModal(assess.id)"} 
            {{assess.form_no}}
          #getModal.modal.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
            .modal-dialog.modal-sm
              .modal-content
                .modal-header
                  .row
                    .pull-left
                      .col-sm-12
                        %h4#getModal.modal-title Assessment Review
                       
                .modal-body
                  %form{:class => "form-horizontal"}
                    .row
                      .col-sm-2
                        Result
                      .col-sm-6
                        %input{:ng_model => "assess.teachercomment", type: 'radio', :value => 'Selected'} Selected
                        %input{:ng_model => "assess.teachercomment", type: 'radio', :value => 'Rejected'} Rejected
                        = hidden_field_tag :teachercomment, :value => "{{assess.teachercomment}}"
                    .row
                      .col-sm-2
                        Comment
                      .col-sm-6
                        %input{:ng_model => "assess.comment", type: 'text'}
                        = hidden_field_tag :comment, :value => "{{assess.comment}}"
                    .row
                      .pull-right
                        %input{:type => "button",:class => "btn btn-primary", "ng-click" => "getStudent(assess)", :value => "Update"}
                    .row
                      {{assess}}

        %td{:style => "width:20%"}
          {{assess.name}}
        %td{:style => "width:20%"}
          {{assess.grade}}
        %td{:style => "width:20%"}
          {{assess.status}}
