.col-sm-6
  .well1
    #calendar1
.well2
  #createEventModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel1", role: "dialog", tabindex: "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} x
      %h3#myModalLabel1 Create Assessment
    .modal-body
      %form#createForm.form-horizontal
        .control-group
          %label.control-label{for: "inputStaff"} Staff
          .controls
            %input#Name{name: "Name"}/
            %input#apptStartTime{type: "hidden"}/
            %input#apptEndTime{type: "hidden"}/
            %input#apptAllDay{type: "hidden"}/
        .control-group
          %label.control-label{for: "when"} When:
          #when.controls.controls-row
      .modal-footer
        %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        %button#submitButton.btn.btn-primary{type: "submit"} Save
