= link_to button_tag("New Enquiry",:class => 'btn btn-primary'), enquiry_new_admissions_path
= link_to button_tag("Show Enquiry",:class => 'btn btn-primary'), enquiry_index_admissions_path
= link_to button_tag("Show Application",:class => 'btn btn-primary'), admission_index_admissions_path
        
