.col-md-8{ "ng-controller" => "GradeWiseFeesController", "ng-init" => "getGridView()"}
  %table.table
    %thead
      %th
      %th{"ng-repeat" => "colHead in columnHeaders"}  
        %label{:class => "form-label"}
          {{colHead}}
      %th
        %label{:class => "form-label"}
          Total
    %tbody
      %tr{"ng-repeat" => "grd_wise_fee in gradeWiseFees"}
        %td
          %label{:class => "form-label"}
            {{rowHeaders[$index]}}
        %td{"ng-repeat" => "unit in grd_wise_fee"}
          %input{:type => "text", :class=> "form-control", "ng-model" => "gradeWiseFees[$parent.$index][$index]['amount_in_rupees']", "ng-blur" => "sumTotal($parent.$index)"}
        %td
          %input{:type => "text", :class=> "form-control", :readonly => true, :value => "{{sumTotals[$index]}}"}
            
  .row    
    .col-md-4.col-md-offset-10
      %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveBucketWiseFee()", :value => "Save"} 
      = link_to "Back", grade_wise_fees_path, :class => "btn btn-primary"

