.row
  .col-sm-4
    #attendance_calendar
  .col-sm-6
    %b 
    %table.table.table-condensed.table-striped.table-bordered
      %thead
        %tr
          %th Student's Name
          %th 
            %label{for: "P", :id => "P"} P
          %th
            %label{for: "A", :id => "A"} A
          %th
            %label{for: "L", :id => "L"} L
                
      %tbody
        %tr{"ng-repeat" => "student in students"}
          %td
            {{student.name}}
          %td
            %input{:ng_model =>"student['attendance']", type: "radio", value: "P"} 
          %td
            %input{:ng_model =>"student['attendance']", type: "radio", value: "A"} 
          %td
            %input{:ng_model =>"student['attendance']", type: "radio", value: "L"} 
                  
            = hidden_field_tag :attendance, :value => "{{student['attendance']}}"
        %center
          %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveStudentAttendance()", :value => "Submit"}
            
  
