.row
  .col-sm-4
 
  .col-sm-6
    %b 
    %table.table.table-condensed.table-striped.table-bordered
      %thead
        %tr
          %th Date
          %th Name
          %th Attendance
      %tbody
        %tr{"ng-repeat" => "attendance in attendances"}
          %div
            %td {{attendance.date}}
            %td {{attendance.student_name}}
            %td {{attendance.attendance}}
              
      %center
        %input{:type => 'button' , :class => 'btn btn-primary', :ng_click => "goToEdit()", :value => 'Edit'}
.row
  #myModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-body
          .pull-left
            %h4#myModalLabel.modal-title Attendance
            
          .pull-right
            = text_field_tag :attendance_date, "", :class => "form-control", :id => "selectdate", :readonly => true, "ng-model"=>"myDate";
          %br
          %br
          %table.table.table-bordered.table-condensed.table-striped
            %thead
              %tr
                %th Student's Name
                %th 
                  %label{for: "P", :id => "P"} P
                %th
                  %label{for: "A", :id => "A"} A
                %th
                  %label{for: "L", :id => "L"} L
                
            %tbody
              %tr{"ng-repeat" => "attendance in attendances"}
                %td
                  {{attendance.name}}
                %td
                  %input{:ng_model =>"attendance['attendance']", type: "radio", value: "P"} 
                %td
                  %input{:ng_model =>"attendance['attendance']", type: "radio", value: "A"} 
                %td
                  %input{:ng_model =>"attendance['attendance']", type: "radio", value: "L"} 
                  
                  = hidden_field_tag :attendance, :value => "{{attendance['attendance']}}"
        .modal-footer
          %center
            %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveTodayStudentAttendance()", :value => "Submit"}
            
   
