.pull-right
  %a{href: "#", :class => "btn btn-primary", :title => "", "ng-click" => "goToEdit()"} EDIT
.row
  %table.table-condensed.table-striped.table-hovered.table-bordered
    %thead
      %tr
        %th Name
        %th Attendance
    %tbody
      %tr{"ng-repeat" => "attendance in attendances"}
        %td {{attendance.name}}
        %td {{attendance.attendance}}
