%form{"ng-controller" => "AttendanceController", "ng-submit" => "submit()"}
  Enter text and hit enter:
  %input{:name => "text", "ng-model" => "text", :type => "text"}/
  //%input#submit{:type => "submit", :value => "Submit", :onclick => "javascript:reload()"}/
  %button#submit{:type => "submit"} Click
  %pre list={{list}}

%input#dp1{"data-date-format" => "yyyy-mm-dd", :type => "text"}/
