%form{"ng-controller" => "AttendanceController", "ng-submit" => "submit()"}
  Enter text and hit enter:
  %input{:name => "text", "ng-model" => "text", :type => "text"}/
  //%input#submit{:type => "submit", :value => "Submit", :onclick => "javascript:reload()"}/
  %button#submit{:type => "submit"} Click
  %pre list={{list}}

%input#dp1{"data-date-format" => "yyyy-mm-dd", :type => "text"}/
#calendar
#createEventModal.modal.hide{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel1", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
    %h3#myModalLabel1 Create Appointment
  .modal-body
    %form#createAppointmentForm.form-horizontal
      .control-group
        %label.control-label{:for => "inputPatient"} Patient:
        .controls
          %input#patientName{"data-items" => "4", "data-provide" => "typeahead", "data-source" => "[&quot;Value 1&quot;,&quot;Value 2&quot;,&quot;Value 3&quot;]", :name => "patientName", :tyle => "margin: 0 auto;", :type => "text"}
            %input#apptStartTime{:type => "hidden"}/
            %input#apptEndTime{:type => "hidden"}/
            %input#apptAllDay{:type => "hidden"}/
      .control-group
        %label.control-label{:for => "when"} When:
        #when.controls.controls-row{:style => "margin-top:5px;"}
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
    %button#submitButton.btn.btn-primary{:type => "submit"} Save
