.row{:ng_controller => "AttendanceController"}
  .row{"ng-show" => "myShowFormValue"} 
    .col-sm-12
      = render "show_form"
  .row{"ng-show" => "myEditFormValue"}
    .col-sm-3
      #attendance_calendar
    .col-sm-7
      = render "edit_form"

