.row{:ng_controller => "AttendanceController"}
  .col-sm-4
    #attendance_calendar
  .col-sm-6
    %b 
    %table.table.table-condensed.table-striped.table-bordered
      %thead
        %tr
          %th Date
          %th Name
          %th Attendance
      %tbody
        %tr{"ng-repeat" => "attendance in attendances"}
          %td {{attendance.date}}
          %td {{attendance.student_name}}
          %td {{attendance.attendance}}
