.row{:ng_controller => "AttendanceController"}
  %table.table.table-bordered.table-hover.table-striped
    %thead
      %th Student's Name
      
    %tbody
      %tr{"ng-repeat" => "row in students"}
        %td {{row.name}}
