.row{:ng_controller => "AttendanceController"}
  -# .row{"ng-show" => "myShowFormValue"} 
  -#   = render "show_form"
  -# .row{"ng-show" => "myEditFormValue"}
  -#   .col-sm-3
  -#     #attendance_calendar
  -#   .col-sm-7
  -#     #myTable
  -#       = render "edit_form"
  .row
    .col-sm-3
      #attendance_calendar
    .col-sm-7
      #myTable
        = render "form"
