.row{:ng_controller => "AttendanceController"}
  .col-sm-4
    #attendance_calendar
  .col-sm-6{"ng-show" => "myShowFormValue"}
    = render 'show_form'
  .col-sm-6{"ng-show" => "myEditFormValue"}
    = render 'edit_form'
