.row{:ng_controller => "AttendanceController"}
  %table#myTable.table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th Date
        %th{"ng-repeat" => "week in weeks"}
          {{week}}
          
             
    %tbody
      %tr{"ng-repeat" => "student in students"}
        %td
          {{student.name}}
        %td
          {{student.attendance}}
          
          = hidden_field_tag :attendance, :value => "{{student['attendance']}}"
  %center
    %input{:type => "button", :class => "btn btn-primary", "ng-click" => "saveStudentAttendance()", :value => "Submit"}
