.row{:ng_controller => "DateAttendanceController"}
  %table.table.table-striped.table-condensed.table-bordered
    %thead
      %tr{"ng-repeat" => "attendance in attendances"}
        %th Date
        %th 
          {{attendance.date}}
          
             
    %tbody
      %tr
        %td
          {{attendance.student_name}}
        %td
          {{attendance.attendance}}
          
          
  
