%h3
  Parents
  .pull-right
    = link_to "Upload Parents", new_upload_parent_masters_path, :class => "btn btn-primary"
%hr
= render :partial => "parents", :locals => {:parents => @parent_masters}

= will_paginate @parent_masters, param_name: "page", previous_label: h("<"), next_label: h(">")
